@using Microsoft.AspNetCore.Http; 
@{
    ViewData["Title"] = "Home Page";
    string fullName = Context.Session.GetString("fullname");
}

<div class="text-center">
    <h1 class="display-4">Welcome @fullName</h1>

</div>
